.popular {
    margin-left: 8%;
    margin-bottom: 25px;
    position: relative;
}
.popular h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--mainTexts);
    margin-bottom: 20px;
}


/* Scroll bar */
.scroll::-webkit-scrollbar {
    width: 14px;
}
.scroll::-webkit-scrollbar-thumb {
    background: var(--otherTexts);
    border-radius:  10px;
    background-clip: padding-box;
    border: 6px solid transparent;
}


/* Single Release */
.popular .scroll {
    overflow-x: scroll;
    display: flex;
    width: 100%;
}
.content {
   margin-right: 30px;
   flex-shrink: 0;
   overflow: none;
}
.content img {
    max-width: 170px;
    width: 100%;
    height: 170px;
    border-radius: 25px;
}
.active {
    border: 4px solid var(--activeLink);
}
.content p:nth-of-type(1) {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--mainTexts);
    padding: 5px;
    width: 170px;
    margin: auto;
}
.content p:nth-of-type(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--otherTexts);
    padding-left: 5px;
    width: 170px;
    margin: auto;
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1159px) {
    .popular {
        margin-left: 9%;
    }
}
@media (max-width: 767px) {
    .popular {
        margin-left: 4%;
    }
 }
