*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #1D2123;
  --filter: drop-shadow(0px -25px 100px rgba(16, 16, 16, 0.51));
  --iconsBackground: #1A1E1F;
  --navBackground: #1D2123;
  --mainBackground: #609EAF;
  --albumBackground: rgba(51, 55, 59, 0.37);
  --backdrop: blur(5px);
  --activeLink: #FACD66;
  --mainTexts: #EFEEE0;
  --subTexts: #FFFFFF;
  --otherTexts: rgba(255, 255, 255, 0.5);
  --fontFamily: 'Quicksand', sans-serif;
}
body, html {
  position: relative;
  overflow-x: hidden;
}      
body {
  font-family: var(--fontFamily);
  background-color: var(--backgroundColor);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  cursor: pointer;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}


/* Header */
header {
  position: relative;
  z-index: 6;
}
.fixed-nav {
  background-color: var(--navBackground);
  width: 100%;
  position: fixed;
  top: 0;
}
.head {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 94%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.head img {
  margin-right: 50px;
  width: 34px;
  height: 34px;
}
.head input {
  color: var(--otherTexts);
  font-weight: 600px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--iconsBackground);
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 15px;
  padding-left: 40px;
}
.head .search {
  display: flex;
  align-items: center;
  position: relative;
}
.head .search img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
}
.menu {
  display: none;
}

@media (max-width: 767px) {
  .head img {
    margin-right: 4%;
  }
  .menu {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    z-index: 10;
  }
  .overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    background-color: var(--iconsBackground);
  }
  .active .overlay {
    pointer-events: all;
    opacity: 0.5;
  }
}