*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #1E1E1E;
  --iconsBackground: #1A1E1F;
  --navBackground: #1D2123;
  --mainBackground: #609EAF;
  --mainTexts: #EFEEE0;
  --subTexts: #FFFFFF;
  --otherTexts: rgba(255, 255, 255, 0.5);
  --fontFamily: 'Quicksand', sans-serif;
}
body {
  font-family: var(--fontFamily);
}