*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #1D2123;
  --filter: drop-shadow(0px -25px 100px rgba(16, 16, 16, 0.51));
  --iconsBackground: #1A1E1F;
  --navBackground: #1D2123;
  --mainBackground: #609EAF;
  --activeLink: #FACD66;
  --mainTexts: #EFEEE0;
  --subTexts: #FFFFFF;
  --otherTexts: rgba(255, 255, 255, 0.5);
  --fontFamily: 'Quicksand', sans-serif;
}
body {
  font-family: var(--fontFamily);
  background-color: var(--backgroundColor);
  filter: var(--filter);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  cursor: pointer;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}



/* Header */
header {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 95%;
  margin: 20px auto 30px;
}
header img {
  margin-right: 50px;
  width: 34px;
  height: 34px;
}
header input {
  color: var(--otherTexts);
  font-weight: 600px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--navBackground);
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 50px;
}
header div {
  position: relative;
}
header div img {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}
.overlay, .menu {
  display: none;
}