.container {
    position: relative;
    max-width: 100%;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.container aside {
    
    
}
.list {
    margin-bottom: 20px;
}
.list, .secondList {
    background-color: var(--iconsBackground);
    width: 52px;
    border-radius: 32px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.list a, .secondList a, .secondList button {
    color: var(--otherTexts);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.list li:first-of-type a, .secondList li:first-of-type a {
    margin-top: 20px;
}
span{
    margin-left: 30px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    display: none;
}
.activeLink {
    color: var(--activeLink) !important;
}
.activeLink span {
    color: var(--subTexts) !important;
}


/* Article 1 */
.container article:nth-of-type(1) {
    display: flex;
    margin-left: 30px;
    background-color: var(--mainBackground);
    padding: 20px;
    max-height: 373px;
    width: 60%;
    border-radius: 30px;
    position: relative;
}
.container article .content {
    color: var(--subTexts);
    margin-left: 20px;
}
.container article .playlist {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 20px auto 70px;
}
.container article .content h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 20px;
}
.container article .innerDiv {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.container article .content .imageContainer img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
}
.imageContainer img:nth-of-type(2) {
    left: 3%;
}
.imageContainer img:nth-of-type(3) {
    left: 8%;
}
.imageContainer img:nth-of-type(4) {
    left: 11%;
}
.heart {
    margin-left: 25%;
    margin-right: 8%;
}
.container article .pexel img:nth-of-type(1) {
   position: absolute;
   top: 0;
   right: 0;
   border-radius: 30px;
}
.container article .pexel img:nth-of-type(2) {
    position: absolute;
    top: -179px;
    right: 0;
    width: 369px;
}


/* Scrollbar */
.scroll::-webkit-scrollbar {
    width: 14px;
}
.scroll::-webkit-scrollbar-thumb {
    background: var(--otherTexts);
    border-radius:  10px;
    background-clip: padding-box;
    border: 5px solid transparent;
}


/* Article 2 */
.playlistContent {
    margin-left: 20px;
    width: 40%;
}
.playlistContent h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--mainTexts);
    margin-bottom: 20px;
}
.scroll {
    max-height: 350px;
    overflow-y: scroll;
}
.playlistContainer {
    width: 100%;
    background-color: var(--iconsBackground);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.playlistContainer img {
    max-width: 90px;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    margin-right: 20px;
}
.playlistContent h4 {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: var(--subTexts);
}
.playlistInfo {
    display: flex;
    flex-direction: column; 
}
.playlistInfo p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--otherTexts);
}
.playlistInfo p:nth-of-type(2) {
    color: var(--subTexts);
    margin-top: 20px;
}
.circle, .circleLove {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.11);
    cursor: pointer;
    position: relative;
    margin-left: 40px;
    margin-right: 10px;
}
.circleLove {
    animation: bounce 500ms ease-in-out;
}
.playlistContainer .likes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}


